:root {
  --color-primary: #616553;
  --color-primary-light: #A8AD97;
  --color-secondary: #666;
  --color-accent: #D3C6AB;
  --color-neutral-beige: #EFE3CB;
  --color-whatever: #A39886;

  --font-primary: "Cabin", sans-serif;
  --font-secondary: "Playfair Display", serif;
}

html {
  font-family: var(--font-primary);
}
