.basic-btn {
  background-color: transparent;
  border-color: var(--color-main-button);
  color: var(--color-main-button);
  border-radius: 0;
}

.btn:hover {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.btn-ghost {
  background-color: transparent;
  color: var(--color-secondary-light);
  border-color: var(--color-secondary-light);
  border-radius: 0;
}

.btn-ghost:hover {
  color: var(--color-secondary-light);
}

.btn-light {
  background-color: var(--color-main-button);
  border-color: var(--color-main-button);
  border-radius: 0;
  color: var(--color-secondary-light);
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: .75em 1.5em .75em 1.5em;
}
