.main-nav {
  background-color: var(--color-secondary-light);
}

.nav-container {
  text-align: center;
}

.nav-container li {
  display: inline;
  padding: 0 1em;
  font-family: "Cabin", sans-serif;
}

.nav-container li a:hover {
  color: var(--color-neutral-dark);
}

@media only screen and (min-width: 60em) {

  .nav-container {
    text-align: right;
  }
}
