<header class="main-nav max-width pad-t-1-2 pad-b-1-2">
  <div class="grid grid-bottom">
    <div class="unit xs-1 s-1 m-1 l-1-4 logo island text-center">
      <a href="/">
        <img src="/images/largelogo1.svg" alt="greengardens">
      </a>
    </div>
    <div class="unit xs-1 s-1 m-1 l-3-4 pad-b-1-4">
      <nav class="pad-b-1-2">
        <ul class="nav-container text-upper list-group milli island push-0">
          <li class="{% if page.highlight_nav == 'shop' %}current{% endif %}"><a href="/products">Shop</a></li>
          <li class="{% if page.highlight_nav == 'cart' %}current{% endif %}"><a href="/checkout">Cart</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
