.main-nav {
  background-color: var(--color-primary);
}

.nav-container {
  text-align: center;
}

.nav-container li {
  display: inline;
  padding: 0 .2em
}

.nav-container li a:hover {
  border-bottom: 2px solid var(--color-accent);
}

@media only screen and (min-width: 60em) {

  .nav-container {
    text-align: right;
  }

}
