.nav-wrapper {
  background-color: var(--color-primary-light);
  padding: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.breadcrumb {
  text-decoration: none;
  margin-right: 1em;
  margin-left: 0;
  color: var(--color-secondary-light);
}

.subnav-content a {
  margin-right: 2em;
}

.subnav-content a:hover {
  border-bottom: 2px solid var(--color-accent);
}

.section-container h4 {
  color: var(--color-accent);
}

fieldset {
  border: none;
}
