.promotion-container {
  background-color: var(--color-main-button);
  padding-top: 1em;
  padding-bottom: 1em;
}

.promotion-container h4 {
  color: var(--color-secondary-light);
  margin: 0;
}

.promotion-container:hover {
  background-color: var(--color-accent);
}

body {
  background-color: var(--color-primary);
}

.table-heading {
  background-color: var(--color-main-button);
  color: var(--color-secondary-light);
}

.price-shadow {
  background-color: var(--color-hover);
  box-shadow: 0 15px 15px rgba(128, 128, 128, .3);
}

.price-table td,
.price-table th {
  border: none;
}

.price-table caption {
  color: var(--color-secondary);
}

.price-table td .icon {
  color: var(--color-secondary-light);
}

.price-table tr {
  color: var(--color-secondary-light);
}

.price-card {
  background-color: var(--color-primary-light);
}

.price-card h3 {
  color: var(--color-accent);
}

.signup-card {
  background-color: var(--color-main-button);
}

.signup-card h2 {
  color: var(--color-secondary-light);
}

.signup-card input {
  border-color: var(--color-main-button);
}
