.promotion-container {
  background-color: var(--color-main-button);
  padding-top: 1em;
  padding-bottom: 1em;
}

.promotion-container h4 {
  color: var(--color-secondary-light);
  margin: 0;
}

.promotion-container:hover {
  background-color: var(--color-accent);
}

body {
  background-color: var(--color-primary);
}
